/* Head */
:root {
  --first-btn-color: #4d5ae5;
  --second-btn-color: #404bbf;
  --logo-font: "Raleway", sans-serif;
  --btn-text-color: #404bbf;
  --btn-bg-color: #f4f4fd;
  --btn-sol-color: #e7e9fc;
  --btn-cursor: pointer;
  --text-color: #434455;
  --text-color-hero: #ffffff;
  --color-tx-ourworkers: #2e2f42;
}
* {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* --------------none----------- */
ul {
  padding-left: 0;
  list-style: none;
}
.list {
  margin: 0;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;

  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
  background: var(--text-color-hero);
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo-web {
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-btn-color);
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.logo-studio {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-tx-ourworkers);
}
.navigation-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  position: relative;
  line-height: 1.33;
  color: var(--color-tx-ourworkers);

  letter-spacing: 0.02em;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--btn-text-color);
}
/* .navigation-link:focus::after {
  content: "";
  display: block;
  width: inherit;
  height: 2px;
  background-color: var(--btn-text-color);
}
.navigation-link:hover::after {
  content: "";
  display: block;
  width: inherit;
  height: 2px;
  background-color: var(--btn-text-color);
} */

.navigation-link:hover {
  color: var(--btn-text-color);
}
.navigation-link:focus {
  color: var(--btn-text-color);
}
address {
  margin-left: auto;
}
.contacts {
  display: flex;
  gap: 40px;
  font-style: normal;
}
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--btn-text-color);
}

/* main-content */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/peopleoffice.jpg");
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 188px 0;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 496px;
  letter-spacing: 0.02em;
  color: var(--text-color-hero);
}
.hero-button {
  cursor: pointer;
  background: var(--first-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-hero);
  padding: 16px 32px;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  border: none;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: var(--second-btn-color);
}

/*-----------Strengths--------------*/
.section-strengths {
  padding-top: 120px;
  padding-bottom: 120px;
}
.strengths-list {
  display: flex;
  gap: 24px;
}
.strengths-icon {
  box-sizing: border-box;
  border-width: 264px 112px;

  background: var(--btn-bg-color);
  border-radius: 4px;
}

.strengths-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--btn-bg-color);
}
.strengths-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--color-tx-ourworkers);
}

/* --------------WHAT ARE WE DOING---------- */
.our-work {
  padding-bottom: 120px;
}
.our-work-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-tx-ourworkers);

  margin-bottom: 72px;
}
.our-work-list {
  display: flex;
  gap: 24px;
}
img {
  display: block;
}
/* -------------------OUR TEAM-------------- */
.team-section {
  background: var(--btn-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-tx-ourworkers);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background: var(--text-color-hero);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-mane {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-tx-ourworkers);
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.icon-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--first-btn-color);
  transition-property: background-—Åolor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list-link:hover,
.icon-list-link:focus {
  background-color: var(--second-btn-color);
}
.team-icon {
  fill: var(--btn-bg-color);
}

/* ------------customers----------- */
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--second-btn-color);
}

.customers-icon {
  fill: #8e8f99;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:focus .customers-icon,
.customers-list-link:hover .customers-icon {
  fill: var(--second-btn-color);
}

/* -----------FOOTER------------- */
.footer {
  background: var(--color-tx-ourworkers);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.footer-list {
  display: flex;
  align-items: baseline;
}

.logo-studio-footer {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-bg-color);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-sol-color);
  width: 264px;
  margin-top: 16px;
}
/* ----------social-media-------- */
.social-media {
  margin-left: 120px;
}
.social-media-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color-hero);
}
.social-icon-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: var(--btn-bg-color);
}

/* ----------PORTFOLIO.HTML--------------- */
.card-menu {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  padding: 0px;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button-icon {
  cursor: var(--btn-cursor);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: var(--btn-bg-color);
  padding: 12px 24px;
  border: 1px solid var(--btn-sol-color);
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
  transition-property: background, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon:hover,
.button-icon:focus {
  background: var(--second-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--text-color-hero);
}
.title-our-works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-photo {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  letter-spacing: 0.02em;

  padding: 40px 32px;
  color: #f4f4fd;
  position: absolute;
  width: 360px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:hover .overlay-text,
.cards-item:focus .overlay-text {
  transform: translateY(0);
}
.cards-description {
  border: 1px solid var(--btn-sol-color);
  border-top: none;
  background: var(--text-color-hero);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-description:hover,
.cards-description:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.card-photo {
  border: none;
}

.cards-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--color-tx-ourworkers);
}
/* =============== modal window ================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  transition: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-delay: 0;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 408px;
  height: 576px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--second-btn-color);
}
.modal-close-btn-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
